body
{
	background-color: white;
	text-align: center;
	margin-left: 50px;
}
.c1
{		
	height: 100%px;
	width: 100%;

	border: 2px solid green;

}

.c2{
	border: 2px solid blue;
	height: 25%;
	width: 55%px;
}
.c3{
	border: solid blue 2px;
	
	width: 100%;
}
.c4
{
border: solid blue 2px;
}
.c5
{
	border: solid blue 2px;
}
.b2
{
	text-align: left;
}

.b4
{
	text-align: bottom;
}