body
{
	background: black;
	text-align: center	

}
h1
{
color: darkblue;
text-align: center	;


}
div
{
	width: 30%;
border: 5px solid darkblue;
margin-top: auto;
margin-right: auto;
margin-left: auto;
border-radius: 60px;

}
input
{
	color: whitesmoke;
	background-color: black;
	border-color: darkblue;
border-radius: 60px;
height: 35px;
width:350px;

}
button
{
border: 2px solid black;
color: black;
cursor: pointer;
margin-top: 35px;
background-color: darkblue;
border-radius: 60px;
height: 50px;
width: 200px;
}
button:hover
{
	background-color: black;
	color: darkblue;
	border: 2px solid darkblue;

}